# Ne pas prendre en compte les packages NuGet
/packages/

# Ne pas prendre en compte les dossiers temporaires de VisualStudio
/**/.vs/
/**/[Oo]bj/

# Fichier de résulat de compilation
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
**/[Bb]in/
[Ll]og/
/TestResults/

# Fichier de configurtion utiliateur
*.user
/**/*.jfm
/**/*.dbmdl
