/.vs/Lamasti_Botte/v15/Server/sqlite3
/.vs
/bin/
/obj/
LamastiBotte/\.vs/

LamastiBotte/LamastiBotte\.Core/obj/
LamastiBotte/LamastiBotte\.Core/bin/

LamastiBotte/LamastiBotte\.Core\.Test/obj/
LamastiBotte/LamastiBotte\.Core\.Test/bin/
